# PDF files
*.pdf

# Python virtual environment
.venv/
.lerobot_venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# uv
uv.lock

# Model weights
hf_qwen/*
!hf_qwen/.gitkeep

# Training outputs
outputs/

# Dataset
robocoin/*
!robocoin/.gitkeep
