# PDF files
*.pdf

# Python virtual environment
.venv/
bin/
lib/
lib64
pyvenv.cfg
CACHEDIR.TAG
.lock

# Python
__pycache__/
*.py[cod]
*.egg-info/

# uv
uv.lock

# Model weights
hf_qwen/*
!hf_qwen/.gitkeep

# Dataset
robocoin/*
!robocoin/.gitkeep
